.userContainer{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.name{
    width: 180px;
    height: 30px;
    margin-bottom: 15px;
}
.create{
    background-color: black;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}